
<% if user_signed_in? %>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend.each do |friend| %>
      <% if friend.user == current_user %>
      <tr>
        <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>       
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>       
        </tr>
      <% end %> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-info" %>

<% else %>

<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This website is designed to make people's lives easier. </p> 
  <p class="lead">If you don't feel easier, then it's you are not fully into it yet.</p>
  <p class="lead">Anyways enjoy. :)</p>
  <hr class="my-4">
  
  
</div>
<% end %>